<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <title>Todo List</title>
</head>
<body>
    <h1>My todo List</h1>
    <div id="todo-table">
        <form action="/todo">
            <input type="text" name="item" placeholder="Add new item..." required />
            <button type="submit"> Add Item </button>
        </form>
    <ul>
        <!--for loop  -->
        <% for(var i=0; i <todos.length; i++){ %>
            <li><%= todos[i].item %></li>
        <% };%>        
    </ul>
    </div>

</body>
</html>